Description: Show Incoming and Outgoing Calls on your TV Screen with a Fritz!Box
Depends: enigma2, python-twisted-web|python3-twisted-web, python-html|python3-html, python-textutils|python3-textutils, python-json|python3-json, python-six|python3-six
